* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

$border-radius: 30px;

body {
  @include centered;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgb(111, 211, 127) 0%,
    rgb(37, 83, 105) 100%
  );
  font-family: Roboto, sans-serif;
}

.example-container {
  @include centered;
  width: 300px;
  height: 300px;
  border-radius: $border-radius;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.43);
}

#draggable {
  @include centered;
  background: white;
  border-radius: $border-radius;
  width: 150px;
  height: 150px;
}

#direction {
  user-select: none;
}
